<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GPSリンク -->
  <link name="gps_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1e-6" iyy="1e-6" izz="1e-6"
               ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="Gazebo/Blue"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </collision>
  </link>

  <!-- trunkに固定 -->
  <joint name="gps_joint" type="fixed">
    <parent link="trunk"/>
    <child link="gps_link"/>
    <!-- 上にちょっと乗せる -->
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo GPSセンサ -->
  <gazebo reference="gps_link">
    <sensor name="gps_sensor" type="gps">
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>

      <gps>
        <position_sensing>
          <horizontal>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.5</stddev>
            </noise>
          </horizontal>
          <vertical>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2.0</stddev>
            </noise>
          </vertical>
        </position_sensing>
      </gps>

      <!-- ROS2 plugin -->
      <plugin name="gps_plugin" filename="libgazebo_ros_gps_sensor.so">
        <ros>
          <namespace>/</namespace>
           <remapping>~/out:=gps/fix</remapping>
        </ros>
        <frame_name>gps_link</frame_name>
      </plugin>

    </sensor>
  </gazebo>

</robot>